[user]
    name = Hannu Hartikainen
    email = hannu@hrtk.in
[github]
    user = dancek

[core]
    excludesfile = ~/.gitignore
    pager = delta

[alias]
    cl = clone --recursive
    sw = switch --recurse-submodules
    st = status --short
    tree = log --graph --oneline --all --decorate --abbrev-commit
    delete-merged-branches = !git branch --merged | egrep -v '^\\*| master$| main$' | ifne vipe | ifne xargs -n1 git branch -d
    l = log --oneline -10
    co = !git rev-parse --verify $1 && git stash && git checkout $1 && git stash pop && :
    ours = "!f() { git checkout --ours -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
    theirs = "!f() { git checkout --theirs -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
    loggrep = "!git log -S \"$1\" --patch --format=\"commit %C(yellow)%h%Creset %s\" --color=always | egrep \"^commit |^(\\e\\[3.m)?[+-].*$1\" | sed \"s/^commit //\" | less #"
    examine-since = "!git log \"$1\"..HEAD --reverse --patch"

[fetch]
    prune = true
[pull]
    rebase = true
[push]
    default = current
    followTags = true
[rebase]
    autoSquash = true
    missingCommitsCheck = warn
    stat = true

[merge]
    tool = nvimdiff

[mergetool]
    keepBackup = false
    
[mergetool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED

[sendemail]
    from = "Hannu Hartikainen <hannu@hrtk.in>"
    smtpServer = /usr/bin/msmtp
    annotate = yes

[sendemail.linux]
    tocmd ="./scripts/get_maintainer.pl --nogit --nogit-fallback --norolestats --nol"
    cccmd ="./scripts/get_maintainer.pl --nogit --nogit-fallback --norolestats --nom"

[include]
    path = .gitconfig-local

[delta]
    navigate                      = true
    minus-style                   = normal "#500001"
    minus-non-emph-style          = normal "#500001"
    minus-emph-style              = normal "#901011"
    minus-empty-line-marker-style = normal "#500001"
    plus-style                    = syntax "#004000"
    plus-non-emph-style           = syntax "#004000"
    plus-emph-style               = syntax "#008000"
    plus-empty-line-marker-style  = normal "#004000"
