[user]
    name = Hannu Hartikainen
    email = hannu.hartikainen@gmail.com
[github]
    user = dancek

[core]
    editor = vim
    excludesfile = ~/.gitignore

[alias]
    st = status --short
    tree = log --graph --oneline --all --decorate --abbrev-commit
    delete-merged-branches = !git branch --merged | grep -v ' master$' | xargs -n1 git branch -d

[pager]
    tag = false

[fetch]
    prune = true
[pull]
    rebase = true
[push]
    default = current
    followTags = true
[rebase]
    autoSquash = true
    missingCommitsCheck = warn
    stat = true
[merge]
    tool = kdiff3
