# git global ignores

# general
.DS_Store
*~
*.swp

# C/C++
*.a
*.o

# Java
*.class

# Python
*.pyc

# VSCode
.vscode/

# DrRacket autosave files
*~
\#*
.\#*

# dotfiles i shouldn't commit
/.gitconfig-local
